$transparent-black: hsla(0, 0, 0, 0.85);
$transparent-white: hsla(255, 255, 255, 0.85);
$disabled-green: #D4DEBC;

%bg-transparent-black {
  background-color: $transparent-black;
}
%bg-transparent-white {
  background-color: $transparent-white;
}
%bg-disabled-green {
  background-color: $disabled-green;
}

%default-icon {
  svg rect, svg path {
    @extend %transition-fill;
    fill: #{$moon-gray};
  }
}

%white-icon {
  svg rect, svg path {
    @extend %transition-fill;
    fill: #{$white};
  }
}

%light-icon {
  svg rect, svg path {
    @extend %transition-fill;
    fill: #{$mid-gray};
  }
}

$navbar-height: 5.3rem;

$body-color: $dark-gray;

