<<<<<<< HEAD
$transparent-black: hsla(0, 0, 0, 0.85);
$transparent-white: hsla(255, 100, 100, 0.85);
=======
$transparent-black: rgba(0, 0, 0, 0.85);
$transparent-white: rgba(255, 255, 255, 0.85);
>>>>>>> bd7b52ddfa922cd56b0c7c2b35e31c8f3ad4f24e
$disabled-green: #D4DEBC;

%bg-transparent-black {
  background-color: $transparent-black;
}
%bg-transparent-white {
  background-color: $transparent-white;
}
%bg-disabled-green {
  background-color: $disabled-green;
}

%default-icon {
  svg rect, svg path {
    @extend %transition-fill;
    fill: #{$moon-gray};
  }
}

%white-icon {
  svg rect, svg path {
    @extend %transition-fill;
    fill: #{$white};
  }
}

%light-icon {
  svg rect, svg path {
    @extend %transition-fill;
    fill: #{$mid-gray};
  }
}

$navbar-height: 5.3rem;
$body-color: $dark-gray;