/* Styles for the load profile chart displayed in Fluxboard and the Fluxboard building report. */

$dark-gray: #4A4A4A;
$gray: #777;
$light-silver: #AAA;
$moon-gray: #D8D8D8;
$gold: #FFB700;
$intense-orange: #FF5722;
$blue: #357EDD;

.monthly-energy-chart {
  .title-month {
    font-weight: bold;
  }

  .title-electricity {
    color: $dark-gray;
  }

  .title-total {
    color: $gray;
  }

  .title-pv {
    color: $gold;
  }

  .title-peak-demand {
    color: $intense-orange;
  }

  .title-battery {
    color: $blue;
  }

  .axis-label {
    font-size: 10px;
  }

  .x-axis-label {
    color: $dark-gray;
  }

  .y-axis, .y-axis-label {
    &.left {
      color: $dark-gray;
    }
    &.right {
      color: $intense-orange;
    }
  }

  .y-axis .domain {
    /* Hide the vertical y-axis lines */
    display: none;
  }

  .grid {
    color: $moon-gray;
  }

  .bottom-tick {
    color: $dark-gray;
  }
  
  .transparent-rect {
    fill: transparent;
  }

  .peak-electricity-line {
    fill: none;
    color: $intense-orange;
  }

  .load-bar {
    &.total {
      fill: transparent;
      color: $light-silver;
    }
    
    &.electric {
      color: $light-silver;
    }

    &.pv {
      fill-opacity: 0.4;
      color: $gold;
    }

    &.battery {
      color: $blue;
    }
  }

  .error-bar {
    opacity: 0;
    transition: opacity 0.3s;

    &.total {
      color: $dark-gray;
    }

    &.electric {
      color: $dark-gray;
    }

    &.peak {
      color: $intense-orange;
    }
  }
  
  &:hover {
    .error-bar {
      opacity: 1;
    }
  }
}
