$transparent-black: rgba(0, 0, 0, 0.85);
$transparent-white: rgba(255, 255, 255, 0.85);
$disabled-green: #D4DEBC;

%bg-transparent-black {
  background-color: $transparent-black;
}
%bg-transparent-white {
  background-color: $transparent-white;
}
%bg-disabled-green {
  background-color: $disabled-green;
}

%default-icon {
  svg {
    @extend %transition-color ;
    color: #{$moon-gray};
  }
}

%white-icon {
  svg {
    @extend %transition-color ;
    color: #{$white};
  }
}


%light-icon {
  svg {
    @extend %transition-color ;
    color: #{$mid-gray};
  }
}


$navbar-height: 5.3rem;
$mobile-navbar-height: 4rem;

$body-color: $dark-gray;

$linkedin-color: #0077B5;
$facebook-color: #3C5A99;
