/* These have been separated out from _material to avoid importing them in rails, where the sass version cannot compile with them */ 
:root {
  --mdc-theme-primary: #{$dark-gray};
  --mdc-theme-secondary: #{$mid-gray};
  --mdc-ripple-fg-opacity: 0; /* TODO: get rid of ripple js? */

  /* media queries for defining  tachyons style helpers*/
  --breakpoint-not-small: screen and (min-width: 30em);
}

/* Buttons */
.mdc-button {
  --mdc-ripple-fg-opacity: 0; /* TODO: get rid of ripple js? */
}

/*Radio Group*/
.mdc-radio {
  --mdc-theme-secondary: #{$green};
}

/* ripple overrides */
/* TODO: get rid of ripple js? */
.mdc-ripple-surface, .mdc-list-item {
  &.mdc-ripple-upgraded {
    --mdc-ripple-fg-opacity: 0 !important;
  }
}