/* These have been separated out from _material to avoid importing them in rails, where the sass version cannot compile with them */ 
:root {
  --mdc-ripple-fg-opacity: 0; /* TODO: get rid of ripple js? */

  /* media queries for defining  tachyons style helpers*/
  --breakpoint-not-small: screen and (min-width: 30em);
}

/* Buttons */
.mdc-button {
  --mdc-ripple-fg-opacity: 0; /* TODO: get rid of ripple js? */
  
  &.mdc-button--raised {
    &.secondary-button, &.bg-white {
      --mdc-theme-primary: white;
    }
    &.bg-blue {
      --mdc-theme-primary: #{$blue};
    }
    &.bg-light-blue {
      --mdc-theme-primary: #{$light-blue};
    }
    &.bg-dark-blue {
      --mdc-theme-primary: #{$dark-blue};
    }
    &.bg-green {
      --mdc-theme-primary: #{$green};
    }
    &.bg-washed-blue {
      --mdc-theme-primary: #{$washed-blue};
    }
    &.bg-red {
      --mdc-theme-primary: #{$red};
    }
    &.bg-dark-pink {
      --mdc-theme-primary: #{$dark-pink};
    }
    &.bg-orange {
      --mdc-theme-primary: #{$orange};
    }
  }
}

/*Radio Group*/
.mdc-radio {
  --mdc-theme-secondary: #{$green};
}

/* ripple overrides */
/* TODO: get rid of ripple js? */
.mdc-ripple-surface, .mdc-list-item {
  &.mdc-ripple-upgraded {
    --mdc-ripple-fg-opacity: 0 !important;
  }
}
