$smooth-gray: #E9E9E9;
$teal: #00A392; /* mapdwell teal */
$dark-orange: #E57C0A;

/* styling of system sidebar based on solar potential */
$lightest-green: #F0F3E8;
$lightest-yellow: #FFF6E7;
$lightest-orange: #F9F3E7;
$lightest-red: #FAE9E7;
$lightest-purple: #F9F0F6;
$lightest-gray: #F2F2F2;
$transparent-gray: hsla(0, 0, 10, 0.75);

/* MDC-specific variables */
$mdc-theme-primary: $dark-gray;
$mdc-theme-secondary: $mid-gray;

/* box shadow variables */
$shadow-1: 0px 0px 3px  0px hsla( 0, 0, 0, 0.175 ) !default;
$shadow-2: 0px 0px 4px  0px hsla( 0, 0, 0, 0.2 ) !default;
$shadow-3: 0px 0px 6px  0px hsla( 0, 0, 0, 0.25 ) !default;
$shadow-4: 0px 0px 8px  0px hsla( 0, 0, 0, 0.3 ) !default;
$shadow-5: 0px 0px 12px 0px hsla( 0, 0, 0, 0.3 ) !default;
$shadow-6: 0px 0px 25px 0px hsla(0, 0, 0, 0.3) !default;
$shadow-7: 0px 0px 50px 0px hsla(0, 0, 0, 0.3) !default;
