$dark-gray: #4A4A4A; /* primary gray */
$mid-gray: #9B9B9B;

$moon-gray: #D8D8D8; /* secondary gray */
$smooth-gray: #E9E9E9;
$light-gray: #F2F2F2;
$near-white: #FAFAFA;
$near-black: #3E3E3E;

$dark-pink: #D00060; /* mapdwell pink */
$light-pink: #D43F85; /* mapdwell pink */
$purple: #A13684; /* mapdwell purple */
$blue: #1079D4; /* mapdwell blue */
$teal: #00A392; /* mapdwell teal */
$green: #5EA94A; /* mapdwell green */
$yellow: #F4BC27; /* mapdwell yellow */
$orange: #DF9114; /* mapdwell orange */
$dark-orange: #E57C0A;
$red: #CA2E0F; /* mapdwell red */

/* epp colors */
$pink: #C22176; /* epp pink */
$washed-blue: #4BBFCD; /* epp teal */

/* styling of system sidebar based on solar potential */
$lightest-green: #F0F3E8;
$lightest-yellow: #FFF6E7;
$lightest-orange: #F9F3E7;
$lightest-red: #FAE9E7;
$lightest-purple: #F9F0F6;
$lightest-gray: #F2F2F2;
$transparent-gray: hsla(0, 0, 10, 0.75);

/* colors for homepage, plans */
$light-blue: #4AA2ED;
$dark-blue: #075AA2;
$light-green: #7EBA6E;
$dark-green: #477F38;

/* MDC-specific variables */
$mdc-theme-primary: $dark-gray;
$mdc-theme-secondary: $mid-gray;

/* box shadow variables */
$shadow-1: 0px 0px 3px  0px hsla( 0, 0, 0, 0.175 ) !default;
$shadow-2: 0px 0px 4px  0px hsla( 0, 0, 0, 0.2 ) !default;
$shadow-3: 0px 0px 6px  0px hsla( 0, 0, 0, 0.25 ) !default;
$shadow-4: 0px 0px 8px  0px hsla( 0, 0, 0, 0.3 ) !default;
$shadow-5: 0px 0px 12px 0px hsla( 0, 0, 0, 0.3 ) !default;
$shadow-6: 0px 0px 25px 0px hsla(0, 0, 0, 0.3) !default;
$shadow-7: 0px 0px 50px 0px hsla(0, 0, 0, 0.3) !default;
