/* progressive shadow classes */
.shadow-1 { box-shadow: 0px 0px 3px  0px hsla( 0, 0, 0, 0.175 ); }
.shadow-2 { box-shadow: 0px 0px 4px  0px hsla( 0, 0, 0, 0.2 ); }
.shadow-3 { box-shadow: 0px 0px 6px  0px hsla( 0, 0, 0, 0.25 ); }
.shadow-4 { box-shadow: 0px 0px 8px  0px hsla( 0, 0, 0, 0.3 ); }
.shadow-5 { box-shadow: 0px 0px 12px 0px hsla( 0, 0, 0, 0.3 ); }
@media ($breakpoint-not-small) {
  .shadow-1-ns { box-shadow: 0px 0px 3px  opx hsla( 0, 0, 0, 0.175 ); }
  .shadow-2-ns { box-shadow: 0px 0px 4px  opx hsla( 0, 0, 0, 0.2 ); }
  .shadow-3-ns { box-shadow: 0px 0px 6px  opx hsla( 0, 0, 0, 0.25 ); }
  .shadow-4-ns { box-shadow: 0px 0px 8px  opx hsla( 0, 0, 0, 0.3 ); }
  .shadow-5-ns { box-shadow: 0px 0px 12px opx hsla( 0, 0, 0, 0.3 ); }
}

/* Opacity */
.dim {
  &:hover {
    opacity: 0.75;   
  }
  &:active {
    opacity: 0.75;   
  }
  &:focus {
    opacity: 1;
  }
}

.hover-bg-dark-green:hover, .hover-bg-dark-green:focus {
  background-color: darken($green, 10%);
}